*{
    margin : 0;
    padding : 0;
    background-color: lightgrey;
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.main{
    display  : flex;
    justify-content : center;
   align-items: center;
   height : 100vh;
}
.profile{
    border : 2px solid lightgrey;
    height : 65vh;
    width : 20vw;
    border-radius : 40px;
    background-color: white;
    position : relative;


}
.bg{
    background-image: url('nature.jpg');
    height : 30%;
    width : 100%;
    object-fit : cover;
    background-repeat: no-repeat;
    border-radius : 40px;
    background-size : contain;
    background-position : center;
    overflow: hidden;


}
.pfp{
    background-image : url('pfp2.jpg');
    height : 100px;
    width : 100px;
   position : absolute;
    top : 70px;
    left : 90px;
    border-radius : 50%;
    border : 5px solid white;



}
.details {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    background-color: white;
     background: transparent;
    text-align: center;

}

.details h2 {
    margin-top : 60px;
    background-color: white;
}
.details p{
    background-color: white;
    color : grey;
}
.numbers{

    height  : 55px;
    width  : 220px;
    font-size : 17px;
    font-weight : 10;
    margin-top : 20px;
    display : flex;
    flex-direction: column;
    border : 1px solid gray;
    border-radius :9%;
    justify-content: space-around;
    align-items: center;
    background: transparent;

}
.numbers h1{
    font-size : 16px;
    background-color: transparent;
}


.socials{
    display : flex;
    background-color: transparent;
    margin-top : 40px;
    gap : 50px;
}
.socials i{
    background-color : transparent;
    font-size : 30px;

}
.plus{
    position : absolute;
    top : 20px;
    right : 20px;
    border : 2px solid white;
    background-color: white;
    color : black;
    border-radius : 50%;
    height : 40px;
    width : 40px;
    display : flex;
    justify-content : center;
    align-items : center;
    z-index : 10;
    cursor : pointer;
}